In [1]:
import pandas as pd
import numpy as np
from sklearn.manifold import MDS

#perform multi-dimensional scaling
mds = MDS(random_state=0, dissimilarity='precomputed')

In [2]:
data = np.array([
    [0, 570, 710, 1550, 210, 890, 5050, 1550, 1090, 1170],
    [570,0,520, 1000, 540, 730, 4570, 1080, 1450, 1480],
    [710, 520, 0, 1020, 830, 1240, 4360, 1520, 1790, 1080],
    [1550,1000,1020, 0, 1540, 1470, 3600, 1090, 2410, 2060],
    [210,540,830,1540, 0, 680, 5100, 1040, 960, 1380],
    [890,730,1240,1470,680, 0, 5050, 850, 1030, 2040],
    [5050, 4570, 4360, 3600, 5100, 5050, 0, 4380, 6010, 4900],
    [1550, 1080, 1520, 1090, 1040, 850, 4380, 0, 1870, 2560],
    [1090, 1450, 1790, 2410, 960, 1030, 6010, 1870, 0, 2050],
    [1170, 1480, 1080, 2060, 1380, 2040, 4900, 2560, 2050, 0]
])
df = pd.DataFrame(data)
cities = ["London", "Berlin", "Oslo", "Moscow", "Paris", "Rome", "Beijing", "Istanbul", "Gibraltar", "Reykjavik"]
df.index = cities
df.columns = cities
df

,London,Berlin,Oslo,Moscow,Paris,Rome,Beijing,Istanbul,Gibraltar,Reykjavik
London,0,570,710,1550,210,890,5050,1550,1090,1170
Berlin,570,0,520,1000,540,730,4570,1080,1450,1480
Oslo,710,520,0,1020,830,1240,4360,1520,1790,1080
Moscow,1550,1000,1020,0,1540,1470,3600,1090,2410,2060
Paris,210,540,830,1540,0,680,5100,1040,960,1380
Rome,890,730,1240,1470,680,0,5050,850,1030,2040
Beijing,5050,4570,4360,3600,5100,5050,0,4380,6010,4900
Istanbul,1550,1080,1520,1090,1040,850,4380,0,1870,2560
Gibraltar,1090,1450,1790,2410,960,1030,6010,1870,0,2050
Reykjavik,1170,1480,1080,2060,1380,2040,4900,2560,2050,0

In [ ]:
fit_data = mds.fit_transform(df)

In [ ]:
fit_df = pd.DataFrame(fit_data)
fit_df.columns = ["x", "y"]
fit_df["cities"] = cities

In [ ]:
fit_df[0]

In [ ]:
import plotly.express as px

In [ ]:
px.scatter(fit_df, x="x", y="y", text = "cities", hover_name="cities")