In [350]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import random
import os 
import sys
import warnings
import requests
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry
import plotly.express as px

## Data Acquisition

In [351]:
df_min = pd.read_csv('./Monthly Minimum Temperature.csv')
df_max = pd.read_csv('./Monthly Maximum Temperature.csv')

In [352]:
# Rename "Mandal" in df_max to Dmcode and "Mandal.1" to "Mandal"
df_max.rename(columns={'Mandal':'Dmcode', 'Mandal.1':'Mandal'}, inplace=True)

In [353]:
df_max.head()

,Dmcode,District,Mandal,Jun-13,Jul-13,Aug-13,Sep-13,Oct-13,Nov-13,Dec-13,...,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,Oct-17,Nov-17,Dec-17,Jan-18
0,101,Adilabad,Bheempoor,33.8,29.5,29.0,33.1,32.5,30.1,30.0,...,42.3,42.9,37.4,32.9,31.8,34.6,34.2,34.4,33.4,33.2
1,102,Adilabad,Jainad,34.0,29.3,29.2,33.2,32.1,30.4,30.2,...,42.2,42.7,36.3,31.8,31.1,33.4,34.3,32.0,30.7,31.1
2,103,Adilabad,Bela,34.9,29.5,29.2,33.8,32.2,30.6,30.8,...,42.4,43.1,36.4,33.6,31.9,33.4,35.8,33.6,33.1,32.9
3,104,Adilabad,Gadiguda,31.3,27.0,27.1,30.6,29.1,28.1,27.8,...,39.8,40.1,36.4,32.3,30.9,32.5,35.8,33.6,33.0,32.7
4,105,Adilabad,Narnoor,31.3,27.0,27.1,30.6,29.1,28.1,27.8,...,39.8,40.1,35.9,29.8,29.4,31.1,32.0,30.2,29.2,29.5

In [354]:
df_min.head()

,Dmcode,District,Mandal,Jun-13,Jul-13,Aug-13,Sep-13,Oct-13,Nov-13,Dec-13,...,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,Oct-17,Nov-17,Dec-17,Jan-18
0,101,Adilabad,Bheempoor,24.6,23.5,22.9,22.9,21.5,14.2,10.6,...,25.4,29.5,26.6,25.4,24.5,24.0,20.8,15.7,12.2,12.2
1,102,Adilabad,Jainad,25.6,24.4,23.8,23.6,22.1,14.8,11.0,...,24.8,29.3,26.5,25.0,24.4,23.9,20.9,14.6,10.9,10.6
2,103,Adilabad,Bela,25.7,24.1,23.6,23.6,22.3,15.4,11.7,...,25.3,29.6,26.3,27.6,26.4,23.9,22.3,18.5,14.1,13.0
3,104,Adilabad,Gadiguda,23.8,22.6,22.4,22.9,21.5,17.8,15.4,...,27.0,28.1,27.4,26.5,25.4,23.5,22.3,18.4,15.5,14.9
4,105,Adilabad,Narnoor,23.8,22.6,22.4,22.9,21.5,17.8,15.4,...,27.0,28.1,26.7,23.5,23.2,23.0,21.8,18.4,15.9,16.0

In [355]:
# Extract the data rows corresponding to Medchal-Malkajgiri district and Kapra Mandal from the data frames. 

df_max = df_max[df_max['Mandal'] == 'Kapra'] 
df_max = df_max[df_max['District'] == 'Medchal-Malkajgiri']


df_min = df_min[df_min['District'] == 'Medchal-Malkajgiri']
df_min = df_min[df_min['Mandal'] == 'Kapra']

In [356]:

df_min.head()

,Dmcode,District,Mandal,Jun-13,Jul-13,Aug-13,Sep-13,Oct-13,Nov-13,Dec-13,...,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,Oct-17,Nov-17,Dec-17,Jan-18
372,2111,Medchal-Malkajgiri,Kapra,23.7,22.4,22.4,22.4,21.6,17.6,13.8,...,24.1,27.4,25.2,24.4,23.5,23.5,21.8,15.6,13.8,13.2

In [357]:
df_max.head()

,Dmcode,District,Mandal,Jun-13,Jul-13,Aug-13,Sep-13,Oct-13,Nov-13,Dec-13,...,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,Oct-17,Nov-17,Dec-17,Jan-18
372,2111,Medchal-Malkajgiri,Kapra,32.7,28.8,29.3,31.8,30.9,29.9,28.4,...,40.8,41.0,34.1,31.7,30.9,32.1,32.6,31.8,30.9,31.2

# Data Preparation and Cleaning

In [358]:
# You may combine the two rows from df_mind and df_max into a single data frame if it helps in creating the visualization.

df = pd.concat([df_min, df_max], axis=0)


# Add a key named "index" to index the two rows since Dmcode, District and Mandal are same for both rows.
df['index'] = ["Min","Max"]

# rearrange index to the first column
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df.head()

,index,Dmcode,District,Mandal,Jun-13,Jul-13,Aug-13,Sep-13,Oct-13,Nov-13,...,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,Oct-17,Nov-17,Dec-17,Jan-18
372,Min,2111,Medchal-Malkajgiri,Kapra,23.7,22.4,22.4,22.4,21.6,17.6,...,24.1,27.4,25.2,24.4,23.5,23.5,21.8,15.6,13.8,13.2
372,Max,2111,Medchal-Malkajgiri,Kapra,32.7,28.8,29.3,31.8,30.9,29.9,...,40.8,41.0,34.1,31.7,30.9,32.1,32.6,31.8,30.9,31.2

In [359]:
df.set_index('Dmcode', inplace=True)
df.head()

,index,District,Mandal,Jun-13,Jul-13,Aug-13,Sep-13,Oct-13,Nov-13,Dec-13,...,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,Oct-17,Nov-17,Dec-17,Jan-18
Dmcode,,,,,,,,,,,,,,,,,,,,,
2111,Min,Medchal-Malkajgiri,Kapra,23.7,22.4,22.4,22.4,21.6,17.6,13.8,...,24.1,27.4,25.2,24.4,23.5,23.5,21.8,15.6,13.8,13.2
2111,Max,Medchal-Malkajgiri,Kapra,32.7,28.8,29.3,31.8,30.9,29.9,28.4,...,40.8,41.0,34.1,31.7,30.9,32.1,32.6,31.8,30.9,31.2

In [441]:
# Convert the months in columns to pandas datetime format.
for i in df.columns[3:]:
    name = df[i].name
    date_format = pd.to_datetime(name, format='%b-%y')
    df.rename(columns={df[i].name:date_format.date()}, inplace=True)

df.head()

,index,District,Mandal,2013-06-01,2013-07-01,2013-08-01,2013-09-01,2013-10-01,2013-11-01,2013-12-01,...,2017-04-01,2017-05-01,2017-06-01,2017-07-01,2017-08-01,2017-09-01,2017-10-01,2017-11-01,2017-12-01,2018-01-01
Dmcode,,,,,,,,,,,,,,,,,,,,,
2111,Min,Medchal-Malkajgiri,Kapra,23.7,22.4,22.4,22.4,21.6,17.6,13.8,...,24.1,27.4,25.2,24.4,23.5,23.5,21.8,15.6,13.8,13.2
2111,Max,Medchal-Malkajgiri,Kapra,32.7,28.8,29.3,31.8,30.9,29.9,28.4,...,40.8,41.0,34.1,31.7,30.9,32.1,32.6,31.8,30.9,31.2

In [442]:
# Use Pandas transpose (T) operation to transpose the table columns into rows and rows into columns. 

transposed_df = df.T
transposed_df
# print(df)

Dmcode                    2111                2111
index                      Min                 Max
District    Medchal-Malkajgiri  Medchal-Malkajgiri
Mandal                   Kapra               Kapra
2013-06-01                23.7                32.7
2013-07-01                22.4                28.8
2013-08-01                22.4                29.3
2013-09-01                22.4                31.8
2013-10-01                21.6                30.9
2013-11-01                17.6                29.9
2013-12-01                13.8                28.4
2014-01-01                16.0                28.2
2014-02-01                16.8                31.4
2014-03-01                20.6                33.9
2014-04-01                24.0                39.0
2014-05-01                25.5                39.3
2014-06-01                26.2                37.7
2014-07-01                23.6                31.9
2014-08-01                23.5                33.0
2014-09-01                23.2                32.3
2014-10-01                21.5                34.7
2014-11-01                18.1                32.2
2014-12-01                15.5                30.6
2015-01-01                15.6                31.1
2015-02-01                17.9                34.8
2015-03-01                22.0                36.5
2015-04-01                24.1                38.4
2015-05-01                27.4                41.3
2015-06-01                25.3                35.7
2015-07-01                25.7                35.6
2015-08-01                24.6                34.1
2015-09-01                22.5                33.8
2015-10-01                19.7                34.2
2015-11-01                17.8                33.0
2015-12-01                16.1                33.3
2016-01-01                15.2                32.5
2016-02-01                18.6                36.4
2016-03-01                21.4                38.9
2016-04-01                24.6                42.1
2016-05-01                25.3                39.6
2016-06-01                24.3                34.3
2016-07-01                23.1                30.4
2016-08-01                24.1                31.4
2016-09-01                22.7                29.3
2016-10-01                20.6                31.3
2016-11-01                14.1                33.0
2016-12-01                13.4                31.6
2017-01-01                13.6                31.4
2017-02-01                15.6                34.5
2017-03-01                19.8                37.3
2017-04-01                24.1                40.8
2017-05-01                27.4                41.0
2017-06-01                25.2                34.1
2017-07-01                24.4                31.7
2017-08-01                23.5                30.9
2017-09-01                23.5                32.1
2017-10-01                21.8                32.6
2017-11-01                15.6                31.8
2017-12-01                13.8                30.9
2018-01-01                13.2                31.2

In [443]:
transposed_df.index

Index([   'index', 'District',   'Mandal', 2013-06-01, 2013-07-01, 2013-08-01,
       2013-09-01, 2013-10-01, 2013-11-01, 2013-12-01, 2014-01-01, 2014-02-01,
       2014-03-01, 2014-04-01, 2014-05-01, 2014-06-01, 2014-07-01, 2014-08-01,
       2014-09-01, 2014-10-01, 2014-11-01, 2014-12-01, 2015-01-01, 2015-02-01,
       2015-03-01, 2015-04-01, 2015-05-01, 2015-06-01, 2015-07-01, 2015-08-01,
       2015-09-01, 2015-10-01, 2015-11-01, 2015-12-01, 2016-01-01, 2016-02-01,
       2016-03-01, 2016-04-01, 2016-05-01, 2016-06-01, 2016-07-01, 2016-08-01,
       2016-09-01, 2016-10-01, 2016-11-01, 2016-12-01, 2017-01-01, 2017-02-01,
       2017-03-01, 2017-04-01, 2017-05-01, 2017-06-01, 2017-07-01, 2017-08-01,
       2017-09-01, 2017-10-01, 2017-11-01, 2017-12-01, 2018-01-01],
      dtype='object')

In [444]:
transposed_df.columns

Index([2111, 2111], dtype='int64', name='Dmcode')

# Data Visualisation

In [446]:
# remove index, district and mandal rows from the data frame
transposed_df = transposed_df.iloc[3:]
transposed_df.columns = ['min', 'max']
transposed_df

             min   max
2013-09-01  22.4  31.8
2013-10-01  21.6  30.9
2013-11-01  17.6  29.9
2013-12-01  13.8  28.4
2014-01-01  16.0  28.2
2014-02-01  16.8  31.4
2014-03-01  20.6  33.9
2014-04-01  24.0  39.0
2014-05-01  25.5  39.3
2014-06-01  26.2  37.7
2014-07-01  23.6  31.9
2014-08-01  23.5  33.0
2014-09-01  23.2  32.3
2014-10-01  21.5  34.7
2014-11-01  18.1  32.2
2014-12-01  15.5  30.6
2015-01-01  15.6  31.1
2015-02-01  17.9  34.8
2015-03-01  22.0  36.5
2015-04-01  24.1  38.4
2015-05-01  27.4  41.3
2015-06-01  25.3  35.7
2015-07-01  25.7  35.6
2015-08-01  24.6  34.1
2015-09-01  22.5  33.8
2015-10-01  19.7  34.2
2015-11-01  17.8  33.0
2015-12-01  16.1  33.3
2016-01-01  15.2  32.5
2016-02-01  18.6  36.4
2016-03-01  21.4  38.9
2016-04-01  24.6  42.1
2016-05-01  25.3  39.6
2016-06-01  24.3  34.3
2016-07-01  23.1  30.4
2016-08-01  24.1  31.4
2016-09-01  22.7  29.3
2016-10-01  20.6  31.3
2016-11-01  14.1  33.0
2016-12-01  13.4  31.6
2017-01-01  13.6  31.4
2017-02-01  15.6  34.5
2017-03-01  19.8  37.3
2017-04-01  24.1  40.8
2017-05-01  27.4  41.0
2017-06-01  25.2  34.1
2017-07-01  24.4  31.7
2017-08-01  23.5  30.9
2017-09-01  23.5  32.1
2017-10-01  21.8  32.6
2017-11-01  15.6  31.8
2017-12-01  13.8  30.9
2018-01-01  13.2  31.2

In [448]:
# Create line plots using plotly.express to show the minimum and maximum temperatures for given months

plot = px.line(transposed_df, x=transposed_df.index, y=transposed_df.columns, title='Monthly Minimum and Maximum Temperatures for Kapra Mandal, Medchal-Malkajgiri district')

plot.show()