### owid Data acquisition and working with multi-index dataframe.

In [1]:
from owid import catalog

In [2]:
table = catalog.find('covid')

In [3]:
df = table.iloc[0].load() # table is a list of tables, so we need to select the first one and load it
df

                    continent     location  total_cases  new_cases  \
iso_code date
AFG      2020-01-03      Asia  Afghanistan         <NA>          0
         2020-01-04      Asia  Afghanistan         <NA>          0
         2020-01-05      Asia  Afghanistan         <NA>          0
         2020-01-06      Asia  Afghanistan         <NA>          0
         2020-01-07      Asia  Afghanistan         <NA>          0
...                       ...          ...          ...        ...
ZWE      2023-09-09    Africa     Zimbabwe       265737          0
         2023-09-10    Africa     Zimbabwe       265742          5
         2023-09-11    Africa     Zimbabwe       265742          0
         2023-09-12    Africa     Zimbabwe       265742          0
         2023-09-13    Africa     Zimbabwe       265742          0

                     new_cases_smoothed  total_deaths  new_deaths  \
iso_code date
AFG      2020-01-03                 NaN          <NA>           0
         2020-01-04                 NaN          <NA>           0
         2020-01-05                 NaN          <NA>           0
         2020-01-06                 NaN          <NA>           0
         2020-01-07                 NaN          <NA>           0
...                                 ...           ...         ...
ZWE      2023-09-09               0.000          5717           0
         2023-09-10               0.714          5718           1
         2023-09-11               0.714          5718           0
         2023-09-12               0.714          5718           0
         2023-09-13               0.714          5718           0

                     new_deaths_smoothed  total_cases_per_million  \
iso_code date
AFG      2020-01-03                  NaN                      NaN
         2020-01-04                  NaN                      NaN
         2020-01-05                  NaN                      NaN
         2020-01-06                  NaN                      NaN
         2020-01-07                  NaN                      NaN
...                                  ...                      ...
ZWE      2023-09-09                0.000             16282.367188
         2023-09-10                0.143             16282.672852
         2023-09-11                0.143             16282.672852
         2023-09-12                0.143             16282.672852
         2023-09-13                0.143             16282.672852

                     new_cases_per_million  ...  male_smokers  \
iso_code date                               ...
AFG      2020-01-03                  0.000  ...           NaN
         2020-01-04                  0.000  ...           NaN
         2020-01-05                  0.000  ...           NaN
         2020-01-06                  0.000  ...           NaN
         2020-01-07                  0.000  ...           NaN
...                                    ...  ...           ...
ZWE      2023-09-09                  0.000  ...     30.700001
         2023-09-10                  0.306  ...     30.700001
         2023-09-11                  0.000  ...     30.700001
         2023-09-12                  0.000  ...     30.700001
         2023-09-13                  0.000  ...     30.700001

                     handwashing_facilities  hospital_beds_per_thousand  \
iso_code date
AFG      2020-01-03               37.745998                         0.5
         2020-01-04               37.745998                         0.5
         2020-01-05               37.745998                         0.5
         2020-01-06               37.745998                         0.5
         2020-01-07               37.745998                         0.5
...                                     ...                         ...
ZWE      2023-09-09               36.791000                         1.7
         2023-09-10               36.791000                         1.7
         2023-09-11               36.791000                         1.7
         2023-09-12               36.791000                         1.7
         2023-09-13               36.791000                         1.7

                     life_expectancy  human_development_index  population  \
iso_code date
AFG      2020-01-03        64.830002                    0.511    41128772
         2020-01-04        64.830002                    0.511    41128772
         2020-01-05        64.830002                    0.511    41128772
         2020-01-06        64.830002                    0.511    41128772
         2020-01-07        64.830002                    0.511    41128772
...                              ...                      ...         ...
ZWE      2023-09-09        61.490002                    0.571    16320539
         2023-09-10        61.490002                    0.571    16320539
         2023-09-11        61.490002                    0.571    16320539
         2023-09-12        61.490002                    0.571    16320539
         2023-09-13        61.490002                    0.571    16320539

                     excess_mortality_cumulative_absolute  \
iso_code date
AFG      2020-01-03                                   NaN
         2020-01-04                                   NaN
         2020-01-05                                   NaN
         2020-01-06                                   NaN
         2020-01-07                                   NaN
...                                                   ...
ZWE      2023-09-09                                   NaN
         2023-09-10                                   NaN
         2023-09-11                                   NaN
         2023-09-12                                   NaN
         2023-09-13                                   NaN

                     excess_mortality_cumulative  excess_mortality  \
iso_code date
AFG      2020-01-03                          NaN               NaN
         2020-01-04                          NaN               NaN
         2020-01-05                          NaN               NaN
         2020-01-06                          NaN               NaN
         2020-01-07                          NaN               NaN
...                                          ...               ...
ZWE      2023-09-09                          NaN               NaN
         2023-09-10                          NaN               NaN
         2023-09-11                          NaN               NaN
         2023-09-12                          NaN               NaN
         2023-09-13                          NaN               NaN

                     excess_mortality_cumulative_per_million
iso_code date
AFG      2020-01-03                                      NaN
         2020-01-04                                      NaN
         2020-01-05                                      NaN
         2020-01-06                                      NaN
         2020-01-07                                      NaN
...                                                      ...
ZWE      2023-09-09                                      NaN
         2023-09-10                                      NaN
         2023-09-11                                      NaN
         2023-09-12                                      NaN
         2023-09-13                                      NaN

[341377 rows x 65 columns]

In [4]:
df.loc[("IND",slice(None))] # slice(None) is equivalent to : in pandas, meaning this is all columns with the IND row index

,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
date,,,,,,,,,,,,,,,,,,,,,
2020-01-03,Asia,India,<NA>,0,NaN,<NA>,0,NaN,NaN,0.0,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2020-01-04,Asia,India,<NA>,0,NaN,<NA>,0,NaN,NaN,0.0,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2020-01-05,Asia,India,<NA>,0,NaN,<NA>,0,NaN,NaN,0.0,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2020-01-06,Asia,India,<NA>,0,NaN,<NA>,0,NaN,NaN,0.0,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2020-01-07,Asia,India,<NA>,0,NaN,<NA>,0,NaN,NaN,0.0,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-14,Asia,India,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,NaN,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2023-09-15,Asia,India,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,NaN,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2023-09-16,Asia,India,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,NaN,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2023-09-17,Asia,India,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,NaN,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2023-09-18,Asia,India,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,NaN,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN

In [5]:
df1 = df.loc[("IND",slice(None))]
df1.head()

,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
date,,,,,,,,,,,,,,,,,,,,,
2020-01-03,Asia,India,<NA>,0,NaN,<NA>,0,NaN,NaN,0.0,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2020-01-04,Asia,India,<NA>,0,NaN,<NA>,0,NaN,NaN,0.0,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2020-01-05,Asia,India,<NA>,0,NaN,<NA>,0,NaN,NaN,0.0,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2020-01-06,Asia,India,<NA>,0,NaN,<NA>,0,NaN,NaN,0.0,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2020-01-07,Asia,India,<NA>,0,NaN,<NA>,0,NaN,NaN,0.0,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN

In [6]:
df2 = df1.dropna(subset=["total_deaths"])
df2.head()

,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
date,,,,,,,,,,,,,,,,,,,,,
2020-03-13,Asia,India,81,8,7.143,1,1,0.143,0.057,0.006,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2020-03-14,Asia,India,84,3,7.143,2,1,0.286,0.059,0.002,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2020-03-15,Asia,India,107,23,9.714,2,0,0.286,0.076,0.016,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2020-03-16,Asia,India,114,7,10.000,2,0,0.286,0.080,0.005,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2020-03-17,Asia,India,137,23,12.429,3,1,0.429,0.097,0.016,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN

In [7]:
df.head()

                    continent     location  total_cases  new_cases  \
iso_code date
AFG      2020-01-03      Asia  Afghanistan         <NA>          0
         2020-01-04      Asia  Afghanistan         <NA>          0
         2020-01-05      Asia  Afghanistan         <NA>          0
         2020-01-06      Asia  Afghanistan         <NA>          0
         2020-01-07      Asia  Afghanistan         <NA>          0

                     new_cases_smoothed  total_deaths  new_deaths  \
iso_code date
AFG      2020-01-03                 NaN          <NA>           0
         2020-01-04                 NaN          <NA>           0
         2020-01-05                 NaN          <NA>           0
         2020-01-06                 NaN          <NA>           0
         2020-01-07                 NaN          <NA>           0

                     new_deaths_smoothed  total_cases_per_million  \
iso_code date
AFG      2020-01-03                  NaN                      NaN
         2020-01-04                  NaN                      NaN
         2020-01-05                  NaN                      NaN
         2020-01-06                  NaN                      NaN
         2020-01-07                  NaN                      NaN

                     new_cases_per_million  ...  male_smokers  \
iso_code date                               ...
AFG      2020-01-03                    0.0  ...           NaN
         2020-01-04                    0.0  ...           NaN
         2020-01-05                    0.0  ...           NaN
         2020-01-06                    0.0  ...           NaN
         2020-01-07                    0.0  ...           NaN

                     handwashing_facilities  hospital_beds_per_thousand  \
iso_code date
AFG      2020-01-03               37.745998                         0.5
         2020-01-04               37.745998                         0.5
         2020-01-05               37.745998                         0.5
         2020-01-06               37.745998                         0.5
         2020-01-07               37.745998                         0.5

                     life_expectancy  human_development_index  population  \
iso_code date
AFG      2020-01-03        64.830002                    0.511    41128772
         2020-01-04        64.830002                    0.511    41128772
         2020-01-05        64.830002                    0.511    41128772
         2020-01-06        64.830002                    0.511    41128772
         2020-01-07        64.830002                    0.511    41128772

                     excess_mortality_cumulative_absolute  \
iso_code date
AFG      2020-01-03                                   NaN
         2020-01-04                                   NaN
         2020-01-05                                   NaN
         2020-01-06                                   NaN
         2020-01-07                                   NaN

                     excess_mortality_cumulative  excess_mortality  \
iso_code date
AFG      2020-01-03                          NaN               NaN
         2020-01-04                          NaN               NaN
         2020-01-05                          NaN               NaN
         2020-01-06                          NaN               NaN
         2020-01-07                          NaN               NaN

                     excess_mortality_cumulative_per_million
iso_code date
AFG      2020-01-03                                      NaN
         2020-01-04                                      NaN
         2020-01-05                                      NaN
         2020-01-06                                      NaN
         2020-01-07                                      NaN

[5 rows x 65 columns]

In [8]:
df.reset_index().head()

,iso_code,date,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,2020-01-03,Asia,Afghanistan,<NA>,0,NaN,<NA>,0,NaN,...,NaN,37.745998,0.5,64.830002,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,2020-01-04,Asia,Afghanistan,<NA>,0,NaN,<NA>,0,NaN,...,NaN,37.745998,0.5,64.830002,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,2020-01-05,Asia,Afghanistan,<NA>,0,NaN,<NA>,0,NaN,...,NaN,37.745998,0.5,64.830002,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,2020-01-06,Asia,Afghanistan,<NA>,0,NaN,<NA>,0,NaN,...,NaN,37.745998,0.5,64.830002,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,2020-01-07,Asia,Afghanistan,<NA>,0,NaN,<NA>,0,NaN,...,NaN,37.745998,0.5,64.830002,0.511,41128772,NaN,NaN,NaN,NaN

In [12]:
l0 = df.index.get_level_values(0)
l0

CategoricalIndex(['AFG', 'AFG', 'AFG', 'AFG', 'AFG', 'AFG', 'AFG', 'AFG',
                  'AFG', 'AFG',
                  ...
                  'ZWE', 'ZWE', 'ZWE', 'ZWE', 'ZWE', 'ZWE', 'ZWE', 'ZWE',
                  'ZWE', 'ZWE'],
                 categories=['ABW', 'AFG', 'AGO', 'AIA', ..., 'YEM', 'ZAF', 'ZMB', 'ZWE'], ordered=False, dtype='category', name='iso_code', length=341377)

In [10]:
l1 = df.index.get_level_values(1)
l1

DatetimeIndex(['2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-11', '2020-01-12',
               ...
               '2023-09-04', '2023-09-05', '2023-09-06', '2023-09-07',
               '2023-09-08', '2023-09-09', '2023-09-10', '2023-09-11',
               '2023-09-12', '2023-09-13'],
              dtype='datetime64[ns]', name='date', length=341377, freq=None)

In [13]:
cond = (l0 == "IND") & (l1.year>=2023)
df[cond]

                    continent location  total_cases  new_cases  \
iso_code date
IND      2023-01-01      Asia    India     44678649        265
         2023-01-02      Asia    India     44678822        173
         2023-01-03      Asia    India     44678956        134
         2023-01-04      Asia    India     44679131        175
         2023-01-05      Asia    India     44679319        188
...                       ...      ...          ...        ...
         2023-09-14      Asia    India         <NA>       <NA>
         2023-09-15      Asia    India         <NA>       <NA>
         2023-09-16      Asia    India         <NA>       <NA>
         2023-09-17      Asia    India         <NA>       <NA>
         2023-09-18      Asia    India         <NA>       <NA>

                     new_cases_smoothed  total_deaths  new_deaths  \
iso_code date
IND      2023-01-01          220.429001        530705           3
         2023-01-02          217.143005        530707           2
         2023-01-03          213.856995        530707           0
         2023-01-04          212.000000        530707           0
         2023-01-05          200.570999        530710           3
...                                 ...           ...         ...
         2023-09-14                 NaN          <NA>        <NA>
         2023-09-15                 NaN          <NA>        <NA>
         2023-09-16                 NaN          <NA>        <NA>
         2023-09-17                 NaN          <NA>        <NA>
         2023-09-18                 NaN          <NA>        <NA>

                     new_deaths_smoothed  total_cases_per_million  \
iso_code date
IND      2023-01-01                1.714             31526.599609
         2023-01-02                1.714             31526.720703
         2023-01-03                1.571             31526.816406
         2023-01-04                1.571             31526.939453
         2023-01-05                1.714             31527.072266
...                                  ...                      ...
         2023-09-14                  NaN                      NaN
         2023-09-15                  NaN                      NaN
         2023-09-16                  NaN                      NaN
         2023-09-17                  NaN                      NaN
         2023-09-18                  NaN                      NaN

                     new_cases_per_million  ...  male_smokers  \
iso_code date                               ...
IND      2023-01-01                  0.187  ...          20.6
         2023-01-02                  0.122  ...          20.6
         2023-01-03                  0.095  ...          20.6
         2023-01-04                  0.123  ...          20.6
         2023-01-05                  0.133  ...          20.6
...                                    ...  ...           ...
         2023-09-14                    NaN  ...          20.6
         2023-09-15                    NaN  ...          20.6
         2023-09-16                    NaN  ...          20.6
         2023-09-17                    NaN  ...          20.6
         2023-09-18                    NaN  ...          20.6

                     handwashing_facilities  hospital_beds_per_thousand  \
iso_code date
IND      2023-01-01               59.549999                        0.53
         2023-01-02               59.549999                        0.53
         2023-01-03               59.549999                        0.53
         2023-01-04               59.549999                        0.53
         2023-01-05               59.549999                        0.53
...                                     ...                         ...
         2023-09-14               59.549999                        0.53
         2023-09-15               59.549999                        0.53
         2023-09-16               59.549999                        0.53
         2023-09-17               59.549999                        0.53
         2023-09-18               59.549999                        0.53

                     life_expectancy  human_development_index  population  \
iso_code date
IND      2023-01-01        69.660004                    0.645  1417173120
         2023-01-02        69.660004                    0.645  1417173120
         2023-01-03        69.660004                    0.645  1417173120
         2023-01-04        69.660004                    0.645  1417173120
         2023-01-05        69.660004                    0.645  1417173120
...                              ...                      ...         ...
         2023-09-14        69.660004                    0.645  1417173120
         2023-09-15        69.660004                    0.645  1417173120
         2023-09-16        69.660004                    0.645  1417173120
         2023-09-17        69.660004                    0.645  1417173120
         2023-09-18        69.660004                    0.645  1417173120

                     excess_mortality_cumulative_absolute  \
iso_code date
IND      2023-01-01                                   NaN
         2023-01-02                                   NaN
         2023-01-03                                   NaN
         2023-01-04                                   NaN
         2023-01-05                                   NaN
...                                                   ...
         2023-09-14                                   NaN
         2023-09-15                                   NaN
         2023-09-16                                   NaN
         2023-09-17                                   NaN
         2023-09-18                                   NaN

                     excess_mortality_cumulative  excess_mortality  \
iso_code date
IND      2023-01-01                          NaN               NaN
         2023-01-02                          NaN               NaN
         2023-01-03                          NaN               NaN
         2023-01-04                          NaN               NaN
         2023-01-05                          NaN               NaN
...                                          ...               ...
         2023-09-14                          NaN               NaN
         2023-09-15                          NaN               NaN
         2023-09-16                          NaN               NaN
         2023-09-17                          NaN               NaN
         2023-09-18                          NaN               NaN

                     excess_mortality_cumulative_per_million
iso_code date
IND      2023-01-01                                      NaN
         2023-01-02                                      NaN
         2023-01-03                                      NaN
         2023-01-04                                      NaN
         2023-01-05                                      NaN
...                                                      ...
         2023-09-14                                      NaN
         2023-09-15                                      NaN
         2023-09-16                                      NaN
         2023-09-17                                      NaN
         2023-09-18                                      NaN

[261 rows x 65 columns]

In [14]:
df[cond].loc["IND"]

,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
date,,,,,,,,,,,,,,,,,,,,,
2023-01-01,Asia,India,44678649,265,220.429001,530705,3,1.714,31526.599609,0.187,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2023-01-02,Asia,India,44678822,173,217.143005,530707,2,1.714,31526.720703,0.122,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2023-01-03,Asia,India,44678956,134,213.856995,530707,0,1.571,31526.816406,0.095,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2023-01-04,Asia,India,44679131,175,212.000000,530707,0,1.571,31526.939453,0.123,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2023-01-05,Asia,India,44679319,188,200.570999,530710,3,1.714,31527.072266,0.133,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-14,Asia,India,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,NaN,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2023-09-15,Asia,India,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,NaN,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2023-09-16,Asia,India,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,NaN,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2023-09-17,Asia,India,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,NaN,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN
2023-09-18,Asia,India,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,NaN,...,20.6,59.549999,0.53,69.660004,0.645,1417173120,NaN,NaN,NaN,NaN